.jumbotron {
    min-height:500px;
    text-align:center;
    background-image: url('../../public/Cityscape\ Background.jfif') !important;
    background-size:cover;
    background-position:center;
    color:white;
    font-family: 'Lato', sans-serif;
}

.display-4{
    font-weight:bold;
}

.lead{
    font-size:25px;
    padding-top:50px;
}